@model BadmintonQ.Models.PlayerModels
<h2>Create</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <fieldset>
        <table>
            @Html.HiddenFor(x => x.ID)
            <tr>
                <td>
                    @Html.LabelFor(x => x.FirstName)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.FirstName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.LastName)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.LastName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Level)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Level)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Paid)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Paid)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Preference)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Preference)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Gender)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Gender)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Active)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.Active)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.EnrollmentDate)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.EnrollmentDate)
                </td>
            </tr>
        </table>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>

}



