@model BadmintonQ.Models.Player
@{
    ViewBag.Title = "DropIn";
}

<h1>Drop In</h1>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">

    function getPlayers() {
        var myNode = document.getElementById("ResultList");
        while (myNode.firstChild) {
            myNode.removeChild(myNode.firstChild);
        }
        var input = $("#SearchName").val();
        console.log(input);
        if (input != "") {
            $.ajax({
                url: "/Player/DropInSearch",
                type: "GET",
                data: { input: input },
                dataType: "json",
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    console.log(jsonData.toString());
                    console.log(jsonData.length);
                    for (var i = 0; i < jsonData.length; i++) {
                        var node = document.createElement("LI");
                        var textnode = document.createTextNode(jsonData[i].FirstName + " " + jsonData[i].LastName + "   ID: " + jsonData[i].ID);
                        console.log(jsonData[i].FirstName);
                        node.appendChild(textnode);
                        node.setAttribute("class", "list-group-item");
                        document.getElementById("ResultList").appendChild(node);
                    }
                },
                error: function (xhr, textStatus, error) {
                    console.log(xhr.statusText);
                    console.log(textStatus);
                    console.log(error);
                }
            });
        }
    }

</script>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="contentWrapperGen">
        <div>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.ID)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.ID)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(x => x.FirstName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.FirstName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.LastName)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.LastName)
                    </td>
                    <td>
                        <input type="submit" value="Submit" class="btn btn-primary" style="width:100%" />
                    </td>
                </tr>
            </table>

        </div>
        <br />
        <div>
            <div class="row">
                <input type="text" id="SearchName" onkeyup="getPlayers()" style="width:100%" />
                <input type="search" value="Search" class="btn btn-primary" />
            </div>
            <div>
                <ul id="ResultList" class="list-group">
                    <li class="list-group-item"></li>
                </ul>
            </div>
        </div>
    </div>




}
